body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

header {
    background-color: #004080;
    color: white;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px;
    text-align: left;
}

footer {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 10px;
}
